/* Styles for viz framework */

body {
    margin: 0;
    overflow: hidden;
}
#visualisations {
    overflow: visible;
}
#WebGL-output {
    position: relative;
}
.title {
    position: absolute;
    width: 100%;
    top: 1%;
    left: 0%;
}
.info {
    position: absolute;
    width: 10%;
    bottom: 2%;
    left: 2.5%;
}
.info img {
    width: 100%;
}
.animateDisappear {
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: disappear;
}
@keyframes disappear {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0, 0);
    }
}
